h1 {
    color: black;
}

.main-logo {
  border: 6px solid transparent;
  border-image:url('/shared-files/images/neonborder3.gif') round 30;
  -webkit-border-image: url('/shared-files/images/neonborder3.gif') round 30; /* Safari 5 */
  -o-border-image: url('/shared-files/images/neonborder3.gif')  round 30; /* Opera */
}

.blink {background: #ccc;}
@-webkit-keyframes blink {
    from { color: green; }
    to { color: white; }
  }
  @-moz-keyframes blink {
    from { color: green; }
    to { color: white; }
  }
  @-ms-keyframes blink {
    from { color: green; }
    to { color: white; }
  }
  @-o-keyframes blink {
    from { color: green; }
    to { color: white; }
  }
  @keyframes blink {
    from { color: green; }
    to { color: white; }
  }

 .blink {
     color: green;
     -webkit-animation: blink 2s 3 alternate;
     -moz-animation: blink 2s 3 alternate;  
     -ms-animation: blink 2s 3 alternate;  
     -o-animation: blink 2s 3 alternate;  
     animation: blink 2s 3 alternate;   
  }